.formInput {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formInput input {
    padding: 7px;
    margin: 0px;
    border-radius: 5px;
    border: 1px solid gray;
}

.formInput .inputSugesstions {
    margin: 0px;
    border-radius: 5px;
    border: 1px solid gray;
}

.formInput .inputSugesstion:hover {
    border: 1px solid black;
}



.formInput label {
    font-size: 12px;
    color: gray;
}

.formInput span {
    display: none;
}

.formInput input:invalid[focused="true"] {
    border: 1px solid red;
}

.formInput input:invalid[focused="true"]~span {
    display: block;
}