@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  
}

header {
  min-height: 10vh;
}
main {
  min-height: 75vh;
}
footer{
  min-height: 15vh;
}

.map{
  width: 100%;
  min-height: 400px;
}